@tailwind base;
@tailwind components;
@tailwind utilities;

.addButton {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 12px;
  transition: all 0.2s ease-in-out;
}

.bfm-table-container {
    margin: 20px;
    border: 1px solid #ccc; 
}

.input-column {
    border: 0.5px solid;
    border-color: green;
    margin : 1px;
    padding-inline: 5px;
    width: 10%;
}

.output-column {
    border: 0.5px solid;
    border-color: gray;
    margin : 1px;
    padding-inline:5px;
    width: 10%;
}

.column-container {
    display: flex;
}

.data-cell {
    border: 0.5px solid;
    margin: 1px;
    padding-inline:5px;
    width:10%;
    height:25px;
}

.data-container {
    display: flex;
}

.bfm-header {
    text-align: center;
    margin-top: 5px;
}

.grid-row {
    display: flex;
    flex-direction: row;
    width:100%;
    padding-left: 5px;
    padding-right: 5px;

}

.data-cell-input {
    border: 0.5px solid;
    padding-inline:5px;
    user-select: none;
    height: 30px;
    flex: 1;
}

.data-cell-input:focus {
    outline: none;
}

.column-cell {
    border: 0.5px solid;
    padding-inline:5px;
    user-select: none;
    height: 30px;
    flex: 1;
}

.empty-add-row {
    flex:1;
    text-align: center;
    border: 0.5px solid;
}

.empty-add-row:hover {
    background-color: #ccc;
    cursor: pointer;
}

.data-row {
    display: flex;
    flex-direction: row;
    width:100%;
    padding-left: 5px;
    padding-right: 5px;
}
